*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Poppins", sans-serif, sans-serif;
  overflow-x: hidden;
}

@media only screen and (max-width: 1199.98px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 991.98px) {
  html {
    font-size: 43.75%;
  }
}

@media only screen and (max-width: 767.98px) {
  html {
    font-size: 37.5%;
  }
}

.btn {
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5rem;
  padding: 1.5rem 3rem;
  font-size: 1.8rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.btn.dark, .btn.dark:link, .btn.dark:visited {
  background-color: #0059ff;
  color: #fff;
  -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
}

.btn.dark:hover {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  -webkit-box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.5);
}

.btn.light, .btn.light:link, .btn.light:visited {
  background-color: #fff;
  color: #0059ff;
  -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.5);
}

.btn.light:hover {
  -webkit-transform: translateY(-0.8rem);
          transform: translateY(-0.8rem);
  -webkit-box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.5);
}

.link {
  color: #003ba8;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.h1 {
  font-size: 7rem;
  font-family: "Abril Fatface", cursive;
  color: #222;
}

.h1 span {
  font-size: 10rem;
  font-family: 'Englebert', sans-serif;
  color: #003ba8;
  display: block;
}

.h1.small {
  font-size: 5rem;
}

@media only screen and (max-width: 991.98px) {
  .h1 {
    font-size: 6rem;
  }
  .h1.small {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 575.98px) {
  .h1 {
    font-size: 5rem;
  }
  .h1.small {
    font-size: 4rem;
  }
}

.h2 {
  font-family: "Abril Fatface", cursive;
  font-size: 5rem;
  text-align: center;
  font-weight: 400;
  position: relative;
  margin-bottom: 10rem;
}

.h2::after {
  content: "";
  position: absolute;
  top: 110%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 10rem;
  height: .5rem;
  background-color: #003ba8;
  border-radius: 2rem;
}

.nav {
  padding: 3rem 5rem;
  padding-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .logo img {
  width: 15rem;
}

.nav .nav-bar {
  list-style: none;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav .nav-bar .nav-item a.page {
  text-decoration: none;
  font-size: 2rem;
  color: #222;
  position: relative;
}

.nav .nav-bar .nav-item a.page::before {
  content: "";
  opacity: 0;
  width: 0;
  height: 0;
  border: 1px solid #0059ff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media only screen and (min-width: 767.98px) {
  .nav .nav-bar .nav-item a.page:hover {
    color: #0059ff;
  }
  .nav .nav-bar .nav-item a.page:hover::before {
    opacity: 1;
    width: 8rem;
    height: 8rem;
  }
}

.nav .nav-bar .nav-item.user svg {
  width: 3rem;
  height: 3rem;
  fill: #0059ff;
}

.nav .menu-button {
  display: none;
}

@media only screen and (max-width: 767.98px) {
  .nav .nav-bar.is-visible {
    right: 0;
  }
  .nav .nav-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    width: 70%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 5rem 10rem;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #0059ff;
    -webkit-transform: all 0.2s;
            transform: all 0.2s;
  }
  .nav .nav-bar .nav-item a.page {
    font-size: 4rem;
    color: #fff;
  }
  .nav .nav-bar .nav-item a.page:hover {
    border-bottom: 1px solid #fff;
  }
  .nav .menu-button {
    display: block;
    z-index: 999;
    cursor: pointer;
  }
  .nav .menu-button svg {
    width: 4rem;
    height: 4rem;
    fill: #222;
  }
  .nav .menu-button svg.is-white {
    fill: #fff;
  }
}

@media only screen and (max-width: 575.98px) {
  .nav .nav-bar {
    width: 100%;
  }
}

.header {
  padding: 0 10rem;
  padding-bottom: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .header-image {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
  text-align: center;
}

.header .header-image img {
  width: 100%;
}

@media only screen and (max-width: 767.98px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .header .header-information {
    text-align: center;
  }
  .header .header-image img {
    width: 50%;
  }
}

@media only screen and (max-width: 575.98px) {
  .header .header-image img {
    width: 100%;
  }
}

.section-advantages {
  padding: 10rem;
  background-color: rgba(0, 89, 255, 0.1);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-advantages .advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.section-advantages .advantages .advantage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 5rem;
}

.section-advantages .advantages .advantage svg {
  width: 12rem;
  height: 12rem;
  fill: #003ba8;
  margin-bottom: 3rem;
}

.section-advantages .advantages .advantage p {
  font-size: 3rem;
  text-align: center;
  font-weight: 300;
}

@media only screen and (max-width: 767.98px) {
  .section-advantages .advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-advantages .advantages p {
    margin-bottom: 10rem;
  }
}

.section-events {
  padding: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.section-events .events {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  grid-gap: 5rem;
  margin-bottom: 7rem;
}

.section-events .events .event-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 3rem;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.section-events .events .event-card .card-image img {
  max-width: 100%;
}

.section-events .events .event-card .card-information {
  padding: 1rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section-events .events .event-card .card-information .data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  font-size: 0.8rem;
}

.section-events .events .event-card .card-information .data svg {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 .8rem 0 2rem;
}

.section-events .events .event-card .card-information .h3 {
  font-size: 2rem;
  margin: 2rem 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.section-events .events .event-card .card-information .text {
  font-size: 1.1rem;
}

.section-events .events .event-card .card-information .link {
  font-size: 1.1rem;
  margin: 1rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.section-events .events .event-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 20px -2px rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 991.98px) {
  .section-events .events {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 575.98px) {
  .section-events .events {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}
/*# sourceMappingURL=main.css.map */