// BUTTONS

.btn {
    text-decoration: none;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5rem;
    padding: 1.5rem 3rem;
    font-size: 1.8rem;
    transition: all .2s;
    backface-visibility: hidden;

    &.dark,
    &.dark:link,
    &.dark:visited {
            background-color: $color-primary-light;
            color: #fff;
            box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .5);
    }

    &.dark:hover {
        transform: translateY(-0.8rem);
        box-shadow: 0 4px 20px -2px rgba(0, 0, 0, .5);
    }
    
    &.light,
    &.light:link,
    &.light:visited {
            background-color: #fff;
            color: $color-primary-light;
            box-shadow: 0 2px 8px -1px rgba(0, 0, 0, .5);
    }

    &.light:hover {
        transform: translateY(-0.8rem);
        box-shadow: 0 4px 20px -2px rgba(0, 0, 0, .5);
    }
    
}

.h1 {
    font-size: 7rem;
    font-family: $font-display;
    color: $color-dark;

    span {
        font-size: 10rem;
        font-family: 'Englebert', sans-serif;
        color: $color-primary-dark;
        display: block;
    }

    &.small {
        font-size: 5rem;
    }

    @media only screen and (max-width: $bp-md) {
        font-size: 6rem;

        &.small {
            font-size: 5rem;
        }
    }
    
    @media only screen and (max-width: $bp-xs) {
        font-size: 5rem;

        &.small {
            font-size: 4rem;
        }
    }
}