.nav {
    padding: 3rem 5rem;
    padding-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo img {
        width: 15rem;
    }

    .nav-bar {
        list-style: none;
        flex-basis: 50%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav-item {

            a.page {
                text-decoration: none;
                font-size: 2rem;
                color: $color-dark;
                position: relative;

                &::before {
                    content: "";
                    opacity: 0;
                    width: 0;
                    height: 0;
                    border: 1px solid $color-primary-light;
                    border-radius: 50%;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    transition: all 0.2s;
                }

                @media only screen and (min-width: $bp-sm) {
                    &:hover {
                        color: $color-primary-light;
    
                        &::before {
                            opacity: 1;
                            width: 8rem;
                            height: 8rem;
                        }
                    }
                }
            }

            &.user {
                svg {
                    width: 3rem;
                    height: 3rem;
                    fill: $color-primary-light;
                }
            }
        }
    }

    .menu-button {
        display: none;
    }

    @media only screen and (max-width: $bp-sm) {
        .nav-bar.is-visible {
            right: 0;
        }

        .nav-bar {
            display: flex;
            position: fixed;
            top: 0;
            right: -100%;
            bottom: 0;
            width: 70%;
            flex-direction: column;
            padding: 5rem 10rem;
            align-items: flex-start;
            justify-content: space-around;
            background-color: $color-primary-light;
            transform: all 0.2s;

            .nav-item {

                a.page {
                    font-size: 4rem;
                    color: #fff;

                    &:hover {
                        border-bottom: 1px solid #fff;
                    }
                }
            }
        }

        .menu-button {
            display: block;
            z-index: 999;
            cursor: pointer;

            svg {
                width: 4rem;
                height: 4rem;
                fill: $color-dark;
            }

            svg.is-white {
                fill: #fff;
            }
        }
    }

    @media only screen and (max-width: $bp-xs) {
        .nav-bar {
            width: 100%;
        }
    }
}